.wish{
    margin-bottom: 250px;
}
.display{
    width: 100%;
}
.message{
    text-align: center;
    margin-top: 150px;
    display: none;
}
.border{
    border: 1px solid rgba(245,54,121,1) !important;
}
.color{
    color: rgba(245,54,121,1);
}
.remove:hover{
    color: rgba(245,54,121,1);
}