
.display{
    width: 100%;
}
.border{
    border: 1px solid rgba(245,54,121,1) !important;
}
.color{
    color: rgba(245,54,121,1);
}
.empty{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 310px;
}
.fa-running{
    font-size: 18px;
}