h3{
    text-align: center;
    padding-top: 50px;
}
.sample{
    -webkit-box-shadow: 31px -16px 13px 2px rgba(245,54,121,1);
    -moz-box-shadow: 31px -16px 13px 2px rgba(245,54,121,1);
    box-shadow: 31px -16px 13px 2px rgba(245,54,121,1);
    margin-top: 50px;
}
.pagination{
    font-size: 18px;
}
